<div class="container-fluid">
    <br/>
     <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <div class="card" style="background-color:aliceblue;">
             <div class="card-header">
                 <label style="text-align: center; color:brown;font-size: larger;font-weight: bold;">User Login</label>
             </div>
 
 
             <div class="card-body">
              <form [formGroup]="userform" (ngSubmit)="userclickbutton()">
 
                 <label style=" color: black;">Username</label>
                 <input type="text" formControlName="username" class="form-control" [(ngModel)]="username"/>
                 <span  class="errorinfo" *ngIf="userform.controls.username.touched && userform.controls.username.invalid">
                     <label>please enter the username first</label>
                 </span>
 <br/>

 <label style=" color: black;">Email</label>
 <input type="text" formControlName="email" class="form-control" [(ngModel)]="email"/>
 <span  class="errorinfo" *ngIf="userform.controls.email.touched && userform.controls.email.invalid">
     <label>please enter the username first</label>
 </span>
<br/>
 
                 <label style=" color: black;">Password</label>
                 <input type="password" formControlName="password" class="form-control" [(ngModel)]="password"/>
                 <span  class="errorinfo" *ngIf="userform.controls.password.touched && userform.controls.password.invalid">
                     <label>please enter the password first</label>
                 </span>
 
 
                 <br/>
                 <input type="submit" value="Login" class="btn btn-info" style="color:white"/>
                 <br/>
                 <span style="font-weight: bold;color: red;">{{msg}}</span>
              </form>
 
             </div>
            </div>
 
         </div>
         <div class="col-md-4"></div>
     </div>
 </div>
 