<div class="view" style="text-align:center;width:100%">
  
    <a routerLink="/login">Login Here</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    Contact : 09865478765


   
  
  <hr />
  
</div>

    <router-outlet >
      <!-- Component content will be shown whenever we click link-->
    </router-outlet>
    <table border="2px" text-aligh="center">
<div class="para">

  A Revolutionary Step in the Online Examination System
It is an exceptional online test platform for conducting online exams and solving all your preparation doubts. It is a smooth online examination system to use and enhances the flow of information.
<tr>
<li>One stop solution for online examination and assessment. It would solve all your problems in preparation for the exam. The platform is effortless to use and transmit information</li>
<li>Easy regis>tration, click away tricks, and simple test creation facilitated by online exam software. Signing in and concurring. Safe data encrypted information.</li>
<li>Easy registration, click away tricks, and simple test creation facilitated by online exam software. Signing in and concurring. Safe data encrypted information.</li>
</tr>
<tr></tr>
<tr>
  <img src="/assets/test2.jpg" >
</tr>
</div>
</table>